.home {
    display: flex;
    flex: 2;
}

.homeContainer {
    flex: 5;
}

.widgets {
    display: flex;
    padding: 15px;
    gap: 15px;
}

.charts {
    display: flex;
    padding: 15px;
    gap: 10px;
}

.tableContainer {
    box-shadow: -1px -8px 10px -4px rgb(143, 108, 175);
    -webkit-box-shadow: -1px -8px 20px -4px rgb(235, 233, 233);
    -moz-box-shadow: -1px -8px 10px -4px rgb(162, 117, 204);
    padding: 10px;
    margin: 5px 20px;
    border-radius: 5px;
}

.tableTitle {
    font-weight: bolder;
    margin-bottom: 15px;
}